@import "../../../assets/styles/colors.module.scss";

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .container-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;

    .container-first-text {
      .title {
        margin: 0;
      }

      .title2 {
        margin: 0 10px;
        display: inline-block;
      }

      .mayus-text {
        color: $principal-blue;
        display: inline-block;
        width: 15rem;
        margin: 0;
      }
    }
    
    .text{
        margin-left: 2rem;
    }
  }
}
