@import "../../assets/styles/colors.module.scss";

body {
  background-color: $principal-blue;

  :global(.MuiTabPanel-root) {
    padding: 0;
  }

  .container {
    display: flex;
    flex-direction: row;

    .img {
      margin: 10rem 0;
      width: 23rem;
      height: 23rem;

      .img-home {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        box-shadow: -20px 20px 20px 15px #0000007a;
      }
    }

    .home-container {
      margin-left: 10%;

      .title {
        font-size: 3.5rem;
        color: #ffffff;
      }

      .description {
        font-size: 1.2rem;
      }

      .ollas-container {
        background-color: #ffffff;
        border-radius: 8px;
        width: 60%;
      }

      .header-ollas {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding-top: 1.5rem;
        padding-left: 1.5rem;

        .buscar-olla {
          border-radius: 8px;
          color: $principal-red;
          font-size: 1.2rem;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 10px 2.2rem;
          border: none;
          cursor: pointer;
        }

        .agregar-olla {
          margin-left: 8px;
          border-radius: 8px;
          color: #757575;
          font-size: 1.2rem;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 10px 2.2rem;
          border: none;
          cursor: pointer;
        }
      }
    }
    @media (max-width: 426px) {
      img {
        display: none;
      }
      .home-container {
        margin-left: 2%;
        width: 700;

        .title {
          font-size: 2.4rem;
        }

        .description {
          font-size: 0.8rem;
        }

        .ollas-container {
          width: 100%;
        }

        .header-ollas {
          padding-top: 0.5rem;
          padding-left: 0.5rem;
        }
      }
    }

    @media (min-width: 1920px) {
      .title {
        font-size: 5rem;
      }

      .description {
        font-size: 1.5rem;
      }

      .ollas-container {
        width: 65%;
      }
    }
  }
}
