@import '../../assets/styles/colors.module.scss';

body{
    background-color: $principal-blue;

    .container{
        margin-left: 10%;

        .title{
        font-size: 50px;
        color: #ffffff;
        }   
        
        .description{
            font-size: 18px;
        }

        .ollas-container{
            background-color: #ffffff;
            border-radius: 8px;
            width: 55%;
        }

        .header-ollas{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding-top: 24px;
            padding-left: 24px;

            .buscar-olla{
                border-radius: 8px;
                color: $principal-red;
                font-size: 18px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 10px 40px;
                border: none;
                cursor: pointer;
            }

            .agregar-olla{
                margin-left: 8px;          
                border-radius: 8px;
                color: #757575;
                font-size: 18px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 10px 40px;
                border: none;
                cursor: pointer;
            }
        }

        .ollas-form{
            display: flex;
            flex-direction: column;
            padding: 24px;

            .input-ollas{
                height: 40px;
                margin-top: 18px;
                border-radius: 8px;
                background-color: $background-inputs;
                border: none;
            }

            .horarios{
                display: flex;
                align-items: center;

                .horarios-inicio{
                   display: flex;
                   flex-direction: column;

                   .inputs-inicio{
                       display: flex;
                       flex-direction: row;
                       align-items: center;
                   }
                }

                .horarios-fin{
                    margin-left: 40px;
                    display: flex;
                    flex-direction: column;

                    .inputs-fin{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                    }
                }
    
                .input-horarios{ 
                    width: 75px;
                    height: 40px;
                    border-radius: 8px;
                    background-color: $background-inputs;
                    border: none;
                    padding-left: 10px;
                }

                .separacion{
                    margin-left: 5px;
                    margin-right: 5px;
                }

                .agregar-button{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 15px 38px;
                    border: none;
                    background-color: $principal-blue;
                    border-radius: 8px;
                    color: #ffffff;
                    margin-left: 75px;
                    font-size: 16px;
                    cursor: pointer;
                }
            }
        }
    }
}