@import '../../assets/styles/colors.module.scss';

.container {
  min-height: 100vh;
  box-sizing: border-box;
  padding-top: 4rem;
  display: flex;
  flex-direction: row;
  background-color: $principal-blue;

  :global(.MuiTabPanel-root) {
    padding: 0;
  }

  .img-container {
    margin: auto 5rem;

    .img-home {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      box-shadow: -20px 20px 20px 15px #0000007a;
    }
  }

  .home-container {
    margin: auto 0 auto 7%;

    .title {
      font-size: 3rem;
      color: #ffffff;
    }

    .description {
      font-size: 1.2rem;
    }

    .ollas-container {
      background-color: #ffffff;
      border-radius: 8px;
      width: 100%;
    }

    .header-ollas {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding-top: 1.5rem;
      padding-left: 1.5rem;

      .buscar-olla {
        border-radius: 8px;
        color: $principal-red;
        font-size: 1.2rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 2.2rem;
        border: none;
        cursor: pointer;
      }

      .agregar-olla {
        margin-left: 8px;
        border-radius: 8px;
        color: #757575;
        font-size: 1.2rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 2.2rem;
        border: none;
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: 426px) {
  .container {
    display: flex;
    flex-direction: column;
    height: 100%;

    .img-container {
      display: none;
    }

    .home-container {
      margin: 2%;
      width: 96%;

      .title {
        font-size: 2.25rem;
      }

      .description {
        font-size: 0.9rem;
      }

      .ollas-container {
        width: 100%;
      }

      .header-ollas {
        padding-top: 1rem;
        padding-left: 0;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

@media only screen and (max-width: 800px) and (min-width: 500px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .img-container {
      margin-top: 0;
    }

    .home-container {
      margin: 5%;
      width: 90%;

      .title {
        margin-top: 0;
      }

      .ollas-container {
        width: 100%;
      }
    }
  }
}

@media (min-width: 800px) and (max-width: 1024) {
  .container {
    .img-container {
      width: 10rem;
      height: 10rem;
    }
  }
}

@media only screen and (max-width: 1440px) and (min-width: 1024px) {
  .container {
    margin: auto 0 auto 0;
    .img-container {
      margin: 12rem 2%;
      width: 20rem;
      height: 18.5rem;
    }

    .home-container {
      margin-left: 5%;

      .ollas-container {
        width: 95%;
      }
    }
  }
}

@media only screen and (max-width: 1920px) and (min-width: 1440px) {
  .container {
    .img-container {
      margin-top: 14rem;
    }

    .home-container {
      margin-left: 8%;
      margin: 0 0 0 7%;
      width: 60%;

      .ollas-container {
        width: 100%;
      }

      .title {
        font-size: 4rem;
      }

      .description {
        font-size: 1.5rem;
      }
    }
  }
}

@media only screen and (min-width: 1920px) {
  .container {
    .img-container {
      width: 30rem;
      height: 30rem;
      margin-left: 0;
    }

    .home-container {
      margin-left: 8%;
      width: 55%;

      .ollas-container {
        width: 85%;
      }

      .title {
        font-size: 5rem;
      }

      .description {
        font-size: 1.75rem;
      }
    }
  }
}
