.spinner {
  background-color: #636363;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 40%;
  z-index: 1;
}
.carga {
  border: 15px solid white;
  border-top-color: #ab74c6;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 2;
}

@media (prefers-reduced-motion: no-preference) {
  .carga {
    animation: App-logo-spin infinite 1.5s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
