.modal {
  width: 600;
  height: 300px;
  border-radius: 15px;

  .registroHeader {
    width: 600px;
    height: 40px;
    background: rgba(114, 187, 219, 0.9);
    font-size: 30px;
    text-align: center;
    padding: 12px;
  }

  .registroBody {
    display: flex;
    flex-direction: column;
    padding: 10px;

    .inputs {
      height: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 12px;
      color: #F5F5F5;
    }
  }
}
