$principal-blue: #72bbdb;
$principal-red: #ff8484;
$principal-purple: #ab74c6;
$principal-green: #5bd98a;
$principal-orange: #f1b462;
$principal-grey: #97aba3;

$white: #ffffff;

$background-inputs: #f5f5f5;

$StatePots__bg-color-green: #43f12834;
$StatePots__bg-color-red: #d95b6370;

$box-shadow: #0000007a;