@import '../../assets/styles/colors.module.scss';

input[type='radio'] {
  transform: scale(1.2);
}

.container {
  margin-top: 4rem;
  max-width: 100%;
  padding: 1rem;

  border-radius: 5px;

  .content {
    display: flex;
    flex-direction: column-reverse;
    box-shadow: 0px 0px 4px 7px $activation_box-shadow-color;
    border-radius: 5px;

    .information {
      max-width: 100%;
      padding: 0.5rem;
      color: $donation_text-color;

      .title {
        margin: 0.3rem 0 0;
        font-size: 2.1rem;
        text-align: center;
        color: $black;

        .title-highlight {
          color: $principal-blue;
        }
      }

      .time-direction {
        display: flex;
        flex-direction: column;
        align-content: space-between;
        justify-content: space-between;
        height: 3.6rem;
      }

      .options {
        margin-top: 1.3rem;
        width: 10rem;
        display: flex;
        justify-content: space-between;

        .option {
          display: flex;
          flex-direction: column;

          .checkbox {
            margin: 6px 1px;
          }
        }
      }
    }

    .image-container {
      max-width: 100%;
      padding: 1rem;
      align-items: center;
      display: flex;
      justify-content: center;

      .image {
        width: 100%;
      }
    }

    .button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 3rem;
      border-style: none;
      border-radius: 5px;
      background-color: $principal-blue;
      color: $white;
      font-size: 1.5rem;
      font-weight: 900;

      .icon {
        size: 4rem;
      }
    }
  }
}
