@import '../../../assets/styles/colors.module.scss';

.container {
  display: flex;
  flex-direction: row;
  box-shadow: 5px 5px 20px 1px #0000007a;
  border-radius: 1rem;

  .container-content {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    width: 40%;

    .title {
      font-weight: bold;
      font-size: 2.3rem;
    }

    .state {
      width: 9.375rem;
      height: 1.5rem;
      color: $principal-green;
      background-color: #43f12834;
      font-weight: bold;
      border-radius: 8px;
      border: none;
    }

    .description{
      min-height: 19rem;
    }

    .edit-button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      height: 3.5rem;
      margin: 10px;
      background-color: $principal-blue;
      color: #ffffff;
      font-size: 1.25rem;
      font-weight: bold;
      border-radius: 8px;
      border: none;
    }
  }

  .container-img {
    width: 60%;

    .img {
      width: 100% ;
      height: 100% ;
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 1rem;
    }
  }
}

@media only screen and (max-width: 1124px) {
  .container {
    .container-content {
      padding: 1rem;
      display: flex;
      width: 100%;

      .description{
        min-height: 0px;
        max-height: none;
      }

      .title {
        font-size: 1.85rem;
      }
    }

    .container-img {
      display: none;
    }
  }
}

@media only screen and (min-width: 1920px) {
  .container {
    .container-content {
      padding: 3rem;

      .title{
        font-size: 4rem;
      }

      .state{
        font-size: 1rem;
        width: 16rem;
      }

      .description{
        font-size: 1.25rem;
      }

      .time{
        font-size: 1.25rem;
      }

      .edit-button{
        font-size: 2rem;
      }
    }
  }
}
